<!-- ARTICLE BOX START HERE -->
  <h2>Article</h2>
  <hr>
  <div *ngIf="this.articles">
    <div class="article-payment-pyt flex-crt" *ngFor="let article of articles.orderedProducts.product; let last=last" [ngClass]="{'last-item-of-article': last}">
        <img class="article-payment-img-crt" src="{{article.product.image[0]}}" alt="image pontalon">
        <div class="article-textbox-pyt flex-pyt">
            <h3>{{article.product.price}} €</h3>
            <p>{{article.product.name}}</p>
            <p>{{ article.product.couleur }}<span>Taille : {{article.product.taille}}</span></p>
            <p>Quantité: {{ article.quantity }}</p>
        </div>
    </div>
    <hr>
        <h3>Sous-total : <span><strong>{{ articles.total }}</strong> €</span></h3>
  </div>


