<footer>
    <div class="paiement flex">

        <div>
            <img class="logo" src="assets/images/img/logo_FAH_blanc_mini.png" alt="logo_FAH_blanc">
        </div>


        <div class="banque">
            <img src="assets/images/img/visa-png 1.png" alt="carte_visa">
            <img src="assets/images/img/mastercard-png 1.png" alt="carte_mastercard">
            <img src="assets/images/img/visa-carte-bleue-png 1.png" alt="carte_cb_visa">
            <img src="assets/images/img/pay-pal-png 1.png" alt="paypal">
        </div>
    </div>

    <section class="footer flex">

        <div class="bloc1 flex">
            <h2>Pour mieux nous connaitre</h2>

                <a href="#">A propos</a>
                <a href="#">Hommes</a>
                <a href="#">Femmes</a>
                <a href="#">Enfants</a>

        </div>

        <div class="bloc2">
            <h2>Lien utiles</h2>
            
                <a href="#">RGPD & Cookies</a>
                <a href="#">CGV</a>
            

        </div>

        <div class="bloc3">

            <h2>Suivez-nous</h2>

            <div class="reseau flex">
                <a href="#"><img src="assets/images/img/facebook-5-240.png" alt="icone_facebook"></a>
                <a href="#"><img src="assets/images/img/instagram-15-240.png" alt="icone_facebook"></a>
                <a href="#"><img src="assets/images/img/linkedin-5-240.png" alt="icone_facebook"></a>
                <a href="#"><img src="assets/images/img/twitter-5-240.png" alt="icone_facebook"></a>
            </div>
        </div>

    </section>

    <div class="bloc4 column">
        <h2>Abonnez-vous à notre newslettrer</h2>

        <div class="newsletter">

            <input type="email" id="email" name="email" placeholder="monemail@email.com">
            <button>Abonnez vous</button>
            <p>
                En cliquant sur le bouton S’ABONNEZ,<br>vous acceptez la politique de confidentialité
                cookies
            </p>

        </div>


    </div>




</footer>
