<section>
  <a href="#"
    ><img
      class="promo"
      src="assets/images/img/promotion.png"
      alt="bannière_promotion"
  /></a>
</section>

<main>
  <section *ngIf="product" class="flex">
    <div class="flex column column-imgs">
      <div *ngFor="let img of product.image">
        <img
          *ngIf="img !== product.image[0]"
          src="{{ img }}"
          alt="miniatute_pantalon"
        />
      </div>
    </div>

    <div>
      <img src="{{ product.image[0] }}" alt="modèle_homme_pantalon" />
      <img (click)="addToFavorite($event, product); false" class="heart" [src]="isInFavorite(product) ? './assets/icons/favoris_red.png' : 'assets/images/img/🦆 icon _heart_.png'" alt="coeur_favoris"/>
    </div>

    <div>
      <div class="flex column detail">
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }}€</p>

        <label for="taille-selection">TAILLE:</label>
        <select name="taille" id="taille-selection">
          <option value="">--Choisir une taille--</option>
          <option *ngFor="let taille of product.taille" value="{{ taille }}">
            {{ taille }}
          </option>
        </select>

        <button (click)="addToCart()">
          <a>AJOUTER AU PANIER</a>
        </button>
      </div>

      <div class="flex column livraison">
        <p>Livraison gratuite.</p>
        <p>Retours gratuits.</p>
        <p>Les conditions générales d'application.</p>
      </div>
    </div>
  </section>
</main>
