.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

.column img{
    height: 161px;
    width: 107px;
    background: white;
    padding: 20px;
}

.bigpics{
    height: 887px;
    width: 583px;
    background: white;
    padding: 40px;
    margin: 40px;
}