 <!-- CART START HERE -->
 <article class="cart-container-crt flex-crt">
  <div class="box-article-crt flex-crt">
      <h1>Panier</h1>
      <div class="cart-article-crt flex-crt">
          <img
              src="/public/images/img_article.png"
              alt="image pantalon"
          />
          <div class="article-text-crt flex-crt">
              <h2>Prix : 39.99</h2>
              <p>Jeans lorem ipsum lorem lorem</p>
              <p>
                  lorem ipsum dolor sit amet, consectetur adipisicing
                  elit, sed do eiusmod tempor incididunt ut labore et
                  dolore tempor incididunt ut labore et dolore
              </p>
              <form class="form-crt flex-crt">
                  <label for="taille">Choisir</label>
                  <select id="taille" name="taille">
                      <option value="a domicile">Taille 32</option>
                      <option value="point relais">taille 55</option>
                      <option value="le jour meme">taille 45</option>
                  </select>
                  <select id="taille" name="taille">
                      <option value="qté">Qté</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                  </select>
              </form>
              <p>Ajoutez aux favoris</p>
          </div>
      </div>
      <h3 class="flex-crt">Sous-total : <span>39.99</span></h3>
  </div>

</article>
