 <!-- CART START HERE -->
      <h1>Panier</h1>

      <!-- SEE WHAT CART OBJECT DOES CONTAIN! -->
      <div *ngIf="cart !== null;">{{ cart | json }}</div>

      <section *ngIf="cart.length === 0; else showCard">
        <h2 class="cart-empty">Votre panier est vide!</h2>
      </section>

      <h3 *ngIf="cart.length > 0" class="flex-crt">Sous-total : <span>{{ this.cartService.totalPrice }} €</span></h3>


      <ng-template #showCard>
        <div class="cart-article-crt flex-crt" *ngFor="let item of cart; let index = index; let last = last" [ngClass]="{'last-item-of-cart': last}">

          <img
              src="{{ item.product.image[0] }}"
              alt="{{ item.product.name}}"
          />
          <div class="article-text-crt flex-crt">

          <span (click)="removeProduct(index)" class="remove-from-cart">&#10005;</span>

              <h2>Prix : {{ item.product.price }} €</h2>
              <p>{{ item.product.name }}</p>
              <p>
                  {{ item.product.description }}
              </p>
              <form class="form-crt flex-crt">

                <select id="color" name="color" (change)="onColorChange($event, item)">
                    <option *ngFor="let color of colors" [selected]="item.product.couleur[0] === color">{{color}}</option>
                </select>

                  <ng-container *ngTemplateOutlet="(item.product.sousCategorie == 'chaussures') ?  category2: category; context: { item : item}">

                  </ng-container>

                  <select id="qty" name="qty" (change)="onQtyChange($event, item)">
                      <option *ngFor="let qt of qty" [selected]="item.quantity === qt">{{qt}}</option>
                  </select>

                </form>
                <button class="favorite-button-crt flex-crt" (click)="addToFavorite(item.product)">Ajoutez aux favoris <img class="empty-heart-crt" [src]="inFavoris(item) ? './assets/icons/favoris_red.png' : './assets/icons/favoris-noir.png'" alt="favoris coeur"></button>
          </div>
      </div>
      <hr/>
      </ng-template>

      <ng-template #category let-item="item">
        <select id="taille" name="taille" (change)="onSizeChange($event, item)">
            <option *ngFor="let size of sizeWears" [selected]="item.product.taille[0] === size">{{size}}</option>
        </select>
      </ng-template>

      <ng-template #category2 let-item="item">
        <select id="taille" name="taille" (change)="onSizeChange($event, item)">
          <option *ngFor="let size of sizeShoes" [selected]="item.product.taille[0] === size">{{size}}</option>
      </select>
      </ng-template>

      <!-- <ng-template #favorite>
        <span *ngIf="true" class="fill-heart-crt"><img  src="./assets/icons/favoris-noir.png" alt="favoris coeur"></span>
      </ng-template> -->


