header{

    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconav{
    gap: 40px;
}

.icon{
    gap: 40px;
    padding-right: 20px;
}

.search{
    border-radius: 20px;
    border: none;
    width: min(400px, 100%);
    min-height: 45px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    font-size: 20px;
}

button {
    position: absolute;
    right: 190px;
    border: none;
    background: none;
}


.cart-img, .cart-img-container {
position: relative;
}
.cart-quantity {
  position: absolute;
  background-color: tomato;
  padding: 3px 5px 2px 5px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  /* font-size: 18px; */
  top: -7px;
  right: -7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
