main{
  background-image: url('/assets/images/flammes.png');
  background-repeat: no-repeat;
  margin-bottom: -80px;
}

.notfound{
  font-size: 4em !important;
  text-align: center !important;
}

.notfoundcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

button{
  background: black;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 20px;
  transition-duration: 0.4s;
}

button:hover{
  background:#006637;
}

a{
  text-decoration: none !important;
  color: white;

}
