  <!-- SUM START HERE -->
      <h2>Total</h2>
      <hr />
      <h3>Sous-total : <span>{{ this.cartService.totalPrice }} €</span></h3>
      <h1>Quantité : {{ this.cartService.productQuantity }}</h1>
      <form>
          <label for="livraison">Livraison :</label>


            <!-- <select id="delivery" name="delivery" (change)="onColorChange($event, item)">
              <option *ngFor="let color of colors" [selected]="item.product.couleur[0] === color">{{color}}</option>
            </select> -->


          <select id="livraison" name="livraison" (change)="changeDelivery($event)">
              <option selected value="Choisir">Choisir</option>
              <option value="À domicile">À domicile</option>
              <option value="Point relais">Point relais</option>
              <option value="Le jour meme">Le jour même</option>
          </select>
          <a routerLink="/payment" [class.disabled]="delivery_method ? null : true"
              ><input [disabled]="delivery_method == 'Choisir'" (click)="addProductOrder(this.cartService.getCart())" type="button" value="Paiement"
          /></a>
      </form>
      <div>
          <p>Jeans lorem ipsum lorem lorem :</p>
          <div class="payments-crt">
              <img
                  src="assets/icons/amex_82052 2.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/Visa_icon-icons 1.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/Paypal-01_icon-icons 1.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/mastercard_82049 1.png"
                  alt="img amex"
              />
          </div>
      </div>
