  <!-- SUM START HERE -->
      <h2>Total</h2>
      <hr />
      <h3>Sous-total : <span>39.99</span></h3>
      <form>
          <label for="livraison">Livraison :</label>

          <select id="livraison" name="livraison" value="choisir">
              <option selected value="choisir">Choisir</option>
              <option value="a domicile">a domicile</option>
              <option value="point relais">point relais</option>
              <option value="le jour meme">le jour meme</option>
          </select>
          <a href="./payment.html"
              ><input type="button" value="Paiement"
          /></a>
      </form>
      <div>
          <p>Jeans lorem ipsum lorem lorem :</p>
          <div class="payments-crt">
              <img
                  src="assets/icons/amex_82052 2.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/Visa_icon-icons 1.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/Paypal-01_icon-icons 1.png"
                  alt="img amex"
              />
              <img
                  src="assets/icons/mastercard_82049 1.png"
                  alt="img amex"
              />
          </div>
      </div>
