<!-- PAYMENT ADDRESS START HERE  -->
<div class="addr-livraison-payment-pyt">
  <h2>Addresse de livraison</h2>
  <hr>
  <h3>Ajouter une addresse :</h3>
  <form class="flex-pyt">
      <div class="form-box-payment-pyt flex-pyt">
          <label for="prenom">Prénom : </label>
          <input type="text" name="prenom" id="prenom">
      </div>
      <div class="form-box-payment-pyt flex-pyt">
          <label for="nom">Nom de famille : </label>
          <input type="text" name="nom" id="nom">
      </div>
      <div class="form-box-payment-pyt flex-pyt">
          <label for="portable">Portable : </label>
          <input type="text" name="portable" id="portable">
      </div>
      <div class="form-box-payment-pyt flex-pyt">
          <label for="addr-livraison">Addresse de livraison : </label>
          <input type="text" name="addr-livraison" id="addr-livraison">
      </div>
      <div class="form-box-payment-pyt flex-pyt">
          <label for="pays">Pays : </label>
          <input type="text" name="pays" id="pays">
      </div>
      <input type="submit" value="Enregistrer">
  </form>
</div>
