main{
    background: #F5F5F7;
    padding-bottom: 40px;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    color: black;
    margin-bottom: 20px;
    
}

h1{
    text-align: center;
    margin-bottom: 30px;

}


.flex{
    display: flex;
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.produit{
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.column img{
    margin: 25px 19px;

}

.mini{
    align-self: flex-start;
    background: white;
}

.mannequin{
    min-height: 877px;
    background: white;
    padding: 31px 40px;

}

.favoris{
    position: relative;
}

.heart {
    position: absolute;
    bottom: 35px;
    right: 45px;

 }

label {
    font-size: clamp(14px,5vw,16px);
    padding-right: 10px;
}

::selection {
    font-size: clamp(14px,5vw,16px);
    padding: 2px 5px;
}

.detail{
    padding: 31px 10px;
    gap: 15px;
    align-items: flex-start;
    background: white;
}

.livraison{
    padding: 10px;
    gap: 10px;
    margin-top: 50px;
    align-items: flex-start;
    background: white;

}

.recap{
    background: none;
    align-self: flex-start;
}

.recap button{
    background: #006637 ;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.promo{
    width : min(1440px, 100%);
    margin-bottom: 40px;
}