<section>
    <a routerLink="/"><img class="promo" src="assets/images/img/promotion.png" alt="bannière_promotion"></a> 
 </section>


<main>


    <h1>PANTALON HOMME</h1>

    <section class="pantalon">

        <div class="boite1 flex">

            <div class="cate">
                <div class="favoris">
                    <a href="./produit.html">

                        <img class="mannequin2" src="assets/images/img/pantalon_bleu_ciel.jpg"
                            alt="modèle_homme_pantalon">
                    </a>
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>


                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 1</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>
                </div>
            </div>

            <div class="cate">
                <div class="favoris">
                    <img class="mannequin2" src="assets/images/img/pantalon_bleu_jean.jpg"
                        alt="modèle_homme_pantalon">
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>


                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 2</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>
                </div>

            </div>


            <div class="cate">
                <div class="favoris">
                    <img class="mannequin2" src="assets/images/img/pantalon_gris.jpg" alt="modèle_homme_pantalon">
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>



                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 3</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>

                </div>

            </div>
        </div>

        <div class="boite2 flex">

            <div class="cate">
                <div class="favoris">
                    <img class="mannequin2" src="assets/images/img/pantalon_kaki.jpg" alt="modèle_homme_pantalon">
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>


                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 4</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>
                </div>
            </div>

            <div class="cate">
                <div class="favoris">
                    <img class="mannequin2" src="assets/images/img/pantalon_marine.jpg" alt="modèle_homme_pantalon">
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>


                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 5</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>
                </div>

            </div>


            <div class="cate">
                <div class="favoris">
                    <img class="mannequin2" src="assets/images/img/pantalon_noir.jpg" alt="modèle_homme_pantalon">
                    <img class="heart2" src="assets/images/img/🦆 icon _heart_.png" alt="coeur_favoris">
                </div>



                <div class="flex column detail">
                    <h2>MODELE JEAN HOMME 6</h2>
                    <p>Pantalon</p>
                    <p>39,99€</p>

                </div>

            </div>
        </div>
    </section>



</main>
