<app-sub-categeries class="explore-offre flex"></app-sub-categeries>

<section class="header-section">
  <div class="container marg-header-section">
    <div class="row">
      <div class="col-2 col-2-center">
        <h1>VIVE LES PROMOS !</h1>

        <p>venez vite découvrir nos promotions sur vos marques préférées</p>
        <a href="">J'en profite &#8594;</a>
      </div>
      <div class="col-2">
        <img
          src="./../../../assets/images/accueil-removebg-preview.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
