
p,
label {
    font-size: clamp(14px, 5vh, 18px);
    font-weight: 300;
}

.cart-container-crt {
  width: min(1440px, 100%);
  min-height: 90vh;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.box-article-crt {
  flex-direction: column;
  width: min(675px, 100%);
  margin-top: 56px;
  margin-bottom: 56px;
}

.box-article-crt h3 {
  font-size: clamp(18px, 5vh, 36px);
}

.box-article-crt h1,
.box-article-crt h3 {
  padding: 18px 0 18px 38px;
  font-weight: 400;
  justify-content: space-around;
}

.box-article-crt h1 {
  font-size: 40px;
}

.box-article-crt h3 {
  font-size: clamp(28px, 5vh, 36px);
}

/* TOTAL BOX */
.total-box-crt {
  width: min(515px, 100%);
  background-color: #ffffff;
  min-height: 510px;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  padding: 28px;
  margin-top: 80px;

}

.total-box-crt h2 {
  font-size: clamp(34px, 5vh, 40px);
  font-weight: 400;
}
