/* CSS BOX PAYMENT CB */
.card-infos-pyt {
  padding: 48px;
  height: 430px;
  background-color: #ffffff;
}

.form-card-infos-pyt {
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
}

.form-box-payment-pyt {
  flex-direction: column;
  gap: 5px;
}

.form-box-payment-pyt input[type="text"],
form input[type="submit"] {
  width: min(460px, 100%);
  padding: 10px 0;
}

.form-card-infos-pyt input[type="submit"] {
  width: min(434px, 100%);
  padding: 10px;
  border: none;
  background-color: #231f20;
  color: #ffffff;
  cursor: pointer;
}

.form-card-infos-pyt .month-year-pyt select {
  background-color: #ffffff;
  border: 0.5px solid black;
  width: min(205px, 100%);
  padding: 14px;
  font-size: clamp(14px, 5vh, 16px);
}

.form-card-infos-pyt .month-year-pyt {
  justify-content: space-between;
}


.alert-danger {
  color: tomato;
}

.isDisabled {
 background-color: #878485 !important;
}
