<!-- PAIEMENT VISA START HERE -->
  <h2>Paiement</h2>
  <div class="card-infos-pyt">
      <form class="form-card-infos-pyt flex-crt">
          <div class="form-box-payment-pyt">
              <label for="pays">Numéro de la carte : </label>
              <input class="input-cart" type="text" name="pays" id="pays">
          </div>
          <div class="month-year-pyt flex-crt">
              <select id="mois" name="mois" value="mois">
                  <option value="mois">Mois</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
              </select>
              <select id="year" name="year">
                  <option value="year">Année</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2003">2003</option>
              </select>
          </div>
          <div class="form-box-payment-pyt">
              <label for="cvv">CVV : </label>
              <input type="text" name="cvv" id="cvv">
          </div>
          <input type="submit" value="Enregistrer">
      </form>
  </div>
