.section-accueil {
  background-image: url("./../../../assets/images/img-accueil.jpg");

  background-size: 100vw;

  background-repeat: no-repeat;
  height: 442px;
  max-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.section-accueil > div {
  width: 500px;
  border: 1px solid black;
  flex-direction: column;

  padding: 1rem 0;
  background: rgb(46 45 46 / 34%);
  border: 1px solid rgb(249 242 242 / 23%);
}
h1 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 1rem;
}
.section-accueil p,
h1 {
  color: var(--color-white);
  text-align: center;
}

.section-accueil p {
  font-weight: 600;
  font-size: 18px;
}

.liens-categories {
  justify-content: space-around;
  width: 100%;
}
.liens-categories a {
  background: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 1.75rem;
  border-radius: 6px;
}

/* section accueil */
@media (max-width: 970px) {
  .section-accueil {
    max-height: 298px;
  }
}

@media (max-width: 600px) {
  .section-accueil {
    max-height: 117px;
  }

  .section-accueil > div {
    width: 224px;
    margin-top: 2rem;
    padding: 0.25rem 0.25rem;
  }

  .section-accueil h1 {
    font-size: 18px;
    margin: 0.25rem;
  }

  .section-accueil p {
    font-size: 14px;
  }
  .section-accueil > div {
    gap: 0;
  }

  .liens-categories a {
    padding: 0.5rem 0.75rem;
    width: 30%;
    text-align: center;
  }
}
