
    <!-- PAIEMENT SECTION-->
    <main class="payment-container-pyt flex-pyt">

      <div class="payment-box1-pyt flex-pyt">
          <h1>Paiement</h1>

          <!-- PROMO START HERE -->
          <div class="promo-payment-pyt">
              <form>
                  <label for="promo-input-pyt">Code promo :
                      <input type="text" placeholder="Ajouter votre code promo" name="promo-input-pyt" id="promo-input-pyt">
                      <input type="button" value="Entrer">
                  </label>
              </form>
          </div>

          <!-- MY EMAIL BLOCK START HERE -->
          <div class="email-payment-pyt" *ngIf="orderPayment.orderAddress?.delivery_email; else paymentEmail">
              <p>Votre email :
                  <span>{{orderPayment.orderAddress?.delivery_email}}</span>
              </p>
          </div>

          <app-delivery-address class="addr-livraison-payment-pyt"></app-delivery-address>
      </div>

      <div class="payment-box2-pyt flex-pyt">
        <app-article-payment class="box-article-payment-pyt"></app-article-payment>
        <app-payment-credit-card class="payment-box-pyt"></app-payment-credit-card>
      </div>

        </main>


        <ng-template #paymentEmail>
          <div class="email-payment-pyt">
            <p>Votre email :
              <span>loremipsum@gmail.com</span>
            </p>
          </div>

        </ng-template>
